@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Concert+One&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat+Alternates:ital,wght@0,200;0,300;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;500&family=Prompt:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&family=Slabo+13px&family=Slabo+27px&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --font-primary: 'Baloo Da 2', serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish";
    --font-Baloo: 'Baloo Da 2', cursive;
    --font-Concert: 'Concert One', cursive;
    --font-Josefin: 'Josefin Slab', serif;
    --font-MerriweatherSans: 'Merriweather Sans', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Montserrat-Alternates: 'Montserrat Alternates', sans-serif;
    --font-Mulish: 'Mulish', sans-serif;
    --font-Open-Sans: 'Open Sans', sans-serif;
    --font-Oswald: 'Oswald', sans-serif;
    --font-Prompt: 'Prompt', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
    --font-Slabo-13px: 'Slabo 13px', serif;
    --font-Slabo-27px: 'Slabo 27px', serif;
}

html {
    /* A cada 1rem será considerado 10px; */
    font-size: 62.5%;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: black;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 1.6rem;
}

font .main-container {
    margin: 0 auto;
}

.loader {
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.loader img {
    width: 10%;
}

.checkbox-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    position: absolute;
}

.checkbox {
    z-index: 6;
    position: fixed;
    padding: 0.4rem;
    border-radius: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
    transition: all 1s;
}

.checkbox .trace {
    background-color: white;
    width: 1.8rem;
    height: 0.18rem;
    position: absolute;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    left: 0.3rem;
}

.checkbox .trace:nth-child(1) {
    top: 0.3em;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 0.7em;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 1.1em;
    transform: rotate(0);
}

#toggle {
    display: none;
}

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 0.7em;
    background-color: white;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-50px);
    width: 0.7em;
    opacity: 0.1;
    visibility: hidden;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 0.7em;
    background-color: white;
}

.show-menu .checkbox {
    right: 22rem;
}

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
}

.img-wrapper {
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    animation: zoom 10s;
}

@keyframes zoom {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    top: 30vh;
    left: 10.5rem;
    position: absolute;
}

.banner h1 {
    margin: 0;
    padding: 0;
    font-size: 9rem;
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: 0.5rem 0.5rem 1px rgba(0, 0, 0, .8);
    color: #ffffff;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-size: 4rem;
    margin-top: 1rem;
    font-family: var(--font-secondary);
    color: white;
    opacity: 0;
    animation: moveBanner 3s 0.7s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button {
    padding: 1rem 3.5rem;
    font-family: var(--font-action);
    text-transform: uppercase;
    font-size: 1.2rem;
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, 1);
    border-radius: 5px;
    border-style: none;
    letter-spacing: .2rem;
    color: white;
    background-color: var(--bs-blue);
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    transition: all 1s;
}

.banner button:hover {
    cursor: pointer;
    background-color: rgb(61, 126, 238);
}

.sidebar {
    /* font-size: 1.1rem; */
    z-index: 5;
    background: var(--bs-dark);
    width: 26rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -26rem;
    font-family: var(--font-action);
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.menu-item {
    margin: 0.8rem 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.menu-link {
    margin: 0.2rem;
    justify-content: space-between;
    color: var(--bs-blue);
    font-family: var(--font-action);
    font-size: 2.5rem;
    transition: color 1s;
}

.menu-link:hover {
    display: block;
    padding: 0 0.5rem;
    width: 100%;
    color: white;
    border-radius: 2rem;
    transition: 1s;
}

.social-media {
    font-size: 0.8rem;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 2rem;
}

.social-media i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--bs-blue);
    font-size: 2.5rem;
    transition: color 1s;
    padding: 1.7rem;
}

.social-media i:hover {
    background-color: white;
    color: var(--bs-blue);
    border-radius: 2rem;
    transition: 1s;
}

.sessao-header {
    display: flex;
    justify-content: center;
    padding: 0;
}

.sessao-header h1 {
    margin: 0.5rem 0;
    color: white;
    font-family: var(--font-primary);
    font-size: 3rem;
    border-bottom: 0.3rem solid var(--bs-blue);
}

.conhecimentos {
    width: 80%;
    /* font-size: 1.6rem; */
    position: relative;
    box-sizing: border-box;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
    /*display: grid;
grid-template-columns: repeat(autofix, minmax(30px,1fr));
/*grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
grid-template-rows: repeat(6, minmax(90px,6rem));
row-gap: 4rem;*/
}

.conhecimento-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.sessao-header h1 {
    font-size: 4.8rem;
}

.conhecimento-header i,
h3 {
    margin-left: 1rem;
}

.conhecimento-header i {
    font-size: 4.5rem;
    color: var(--bs-blue);
}

.conhecimento-header h3 {
    padding: 0;
    margin-bottom: 0;
    font-family: var(--font-secondary);
    font-size: 2.7rem;
    color: white;
}

.conhecimento-text {
    border: 1px solid var(--bs-blue);
    margin-top: 1.6rem;
    padding: 10px;
    background-color: var(--bs-dark);
    color: var(--bs-gray-400);
    font-size: 1.8rem;
    font-family: var(--font-secondary);
    text-align: justify;
    border-radius: 5px;
    z-index: 2;
}

.conhecimentos-img-wrapper img {
    box-shadow: 0.1rem 0.1rem 20px white;
    border-radius: 1rem;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

.conhecimentos-img {
    position: relative;
}

.conhecimento-img img {
    z-index: -100;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 10%;
}

.projetos {
    /* font-size: 1.6rem; */
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

.card {
    width: 77%;
    height: 90%;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    transition: all 1s;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    background-color: rgba(0, 0, 0, 1);
    transition: all 1s;
}

.card-img-wrapper img {
    border-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .6;
    transition: all 1s;
}

.card:hover .card-img-wrapper img {
    opacity: 1;
    visibility: visible;
}

.card-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 3rem 4rem 3rem 2rem;
    text-shadow: 0.1rem 0.1rem 1pxrgba(0, 0, 0, .9);
    transition: all 1s;
}

.card-info h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, .8);
}

.card-info h3 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, .8);
    color: var(--bs-blue);
}

.card-info p {
    margin: 0.3rem 0;
    font-size: 1.3rem;
    text-align: justify;
    text-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, .8);
    color: rgb(187, 187, 187);
}

.btn {
    text-transform: uppercase;
    color: white;
    background-color: var(--bs-blue);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3rem;
}

.btn:hover {
    color: white;
    border: none;
    background-color: rgb(61, 126, 238);
    cursor: pointer;
}

.card:hover .card-info {
    opacity: 1;
    visibility: visible;
}

.sessao-contato {
    width: 80%;
    margin: 2rem auto;
}

.contato-wrapper {
    margin-top: 0.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 8px white;
}

.contato-wrapper img {
    z-index: -100;
    position: absolute;
    background-position: center;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.2;
    width: 100%;
    height: 100vh;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

form {
    padding: 1rem;
    font-size: 2rem;
    width: 60%;
    color: rgba(61, 126, 238, 0.8);
}

.form-control {
    font-size: 1.6rem;
    background-color: #495057;
}

form input:focus,
textarea:focus {
    transition: all 1s;
}

.btn {
    margin-top: 1rem;
}

.footer-content {
    background-color: rgba(61, 126, 238, 0.3);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.footer-content p {
    margin: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.6rem; */
    font-family: var(--font-Baloo);
    color: white;
    width: 100%;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list ul {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-list i {
    font-size: 2.8rem;
    color: rgb(61, 126, 238);
    padding: 0.5rem;
    transition: all 1s;
}

.social-list i:hover {
    background-color: white;
    color: var(--bs-blue);
    border-radius: 1.5rem;
}


/* media queries */

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}